@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:arial;
	box-sizing: border-box; /*include margin to % size*/
	/*iscroll*/
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: black;
	box-sizing: inherit; /*include margin to % size*/
	/*iscroll*/
	overflow: hidden;
}

html{
	  /*background: url('images/beta.png') no-repeat center center fixed; */
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
 	overflow: auto;
	box-sizing: inherit; /*include margin to % size*/
	/*iscroll*/
	-ms-touch-action: none;
}

b{font-weight:900;}
i {font-style: italic;}

hr{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	color: #FFF;
}

#header{
	background-image:-webkit-gradient(linear, left top, left bottom, from(#111111), to(#555555));
	color: #FFFFFF;
	width: 100%;
	padding-top:15px;
	height: 60px; /*height of header; change #main>top:XX*/
	position: absolute;
	top:0;
	right:0;
	font-size:110%;
	text-align:center;
	font-weight:bold;
	z-index: 9999;
	
}

#footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#555555), to(#111111));
	color: white;
	padding-top:3px;
	border-top: 1px solid #444;
	font-size: 12px;
	text-align:center;
	font-weight: bold;
}

#status{
	display:block;
	color: #00ec00;
	font-weight:normal;
	font-size:80%;
}

#floatLeft{
	left:5%;
	top:10px;
	z-index:1;
	position:absolute;
	width:40px;
	height:40px;
}

#floatRight{
	right:5%;
	top:15px;
	z-index:1;
	position:absolute;
	text-align: right;
	width:30px;
	height:30px;
}



#main{
	background-color: black;
	top:60px;
	z-index:2;
	text-align: center;
	width:100%;
}

.button{
	background: #111111;
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-size: cover; /*fill*/
	color: #00ec00;
	width: 100%; /*was 90% with left 5%*/
	left:0; /*was 5% with width 5% (width+left*2=100)*/
	padding-top:35px; /*px top of button to text*/
	height: 100px; /*height of button*/
	top:0;
	right:0;
	font-size:30px;
	text-align:center;
	font-weight:bold;
}

.leftBracket
{
	height:100%;
	top:0;
	left:0;
	position:absolute;
}

.rightBracket
{
	height:100%;
	top:0;
	right:0;
	position:absolute;
}

/*iscroll css*/
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0; /*room for header*/
	bottom: 0; /*room for footer*/
	left: 5%; /*left*2+width=100*/
	width: 90%;
	background: #000;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align:right;
}
#scroller li {
	padding: 0 10px;
	height: 50px;
	line-height: 50px; /*equal to height*/
	background-color: #111;
	font-size: 30px;
	color: #00ec00;
	border: 1px solid #FFF;
	/*text-indent: 20%;*/
}

#rank li {
	text-align: left;
	border: 0;
	background-color: black;
}
#rank img {
	display: inline;
	height: 48px;
	width: 48px;
}
#rank div{
	position: relative;
	top: -45px;
	left: 125px;
	z-index: 999;
	width: inherit;
}

#text ul{
	list-style-type: none;
	color: white;
	padding: 0;
	margin: 0;
	width: auto;
	text-align:left;	
}
#text li {	
	background-color: black;
	text-align: left;
	line-height: 150%; 
	color: white;
	font-size: 15px;
	border: 0;
	height: auto;
	padding-left: 25px;
	text-indent: -15px;
}
#scroller p{ /*credits*/
	font-size: 15px;
	color: white;
}
#stage{
	width: 100%;
	height: 100%;
}
.info{
	color: white !important;
	text-align: left !important;
	font-size: 15px !important;
	height: auto !important;
	line-height: 20px !important;
	padding:10px !important;
}

.charImg {
	position: absolute;
	left: 1px;
	height: 48px;
	width: 48px;
}

.btnImg {
	position: absolute;
	right: 1px;
	height: 48px;
	width: 48px;
	display:inline;
}

.listTitle{	
	/*override iscroll css*/
	color: white !important;
	background-color: black !important;
	font-size:25px !important;
	border:0 !important;
	border-bottom:1px solid #FFF !important;
	text-align:center !important;
}

.listSubtitle{
	/*override iscroll css*/
	color: white !important;
	background-color: black !important;
	font-size:25px !important;
	border:0 !important; 
	border-bottom:1px solid #FFF !important;
	text-align:left;
	font-style: italic;
}

.movement{
	text-align: left !important;
	color: white !important;
	font-size:12px !important;
	height:20px !important;
	line-height: 20px !important;
}

h1{ /*for movement*/
	color: #00ec00;
	display: inline;
}

#singleFrame{
	background-color: black;
	top:60px;
	z-index:2;
	position: absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

#splitFrameTop{
	background-color: black;
	top:60px;
	z-index:2;
	position: absolute;
	width:100%;
	height:50%;
	border-bottom: 2px solid #00FFFF;
	overflow:hidden;
}

#splitFrameBot{
	background-color: black;
	z-index:2;
	position: absolute;
	width:100%;
	top:50%;
	height:40%;
	border-top: 2px solid #00FFFF;
	overflow:hidden;
}

/*lab.html*/
#labFloatLeft{
	background-color: transparent;
	height: 90px;
	width: auto;
	position: absolute;
	float: left;
	text-align: left;
	top: 2px;
	left: 10px;
	color:white;
	font-size:20px;
	line-height:25px;
	z-index:9;
}

#charName{
	position: relative;
	display:inline;
	color: #00ec00;
}

#actionName{
	position: relative;
	display:inline;
}

#stateName{
	position: relative;
	display:inline;
}

#currFrame{
	position: relative;
	display:inline;
}

#totalFrames{
	position: relative;
	display:inline;
}

#charIcon{
	position: absolute;
	display:block; /*makes new line (no br in html)*/
	height: 60px;
	width: 60px;
	float: right;
	top: 2px;
	right: 2px;
	z-index:999;
}
#backIcon{
	position: absolute;
	display:inline;
	height: 60px;
	width: 60px;
	float: right;
	top: 62px;
	right: 2px;
	z-index:999;
}

.backFloatRight{
	position: absolute;
	right: 1px;
	height: 48px;
	width: 48px;
}

#barGraph{
	bottom:61px;
	left:0;
	height:5px;
	width:100%;
	background:#00ec00;
	position:absolute;
	z-index:99999;
}
/*chat bubble*/
.bubble 
{
	color:black;
	font-weight: bold;
	position: absolute;
	width: 300px;
	height: 200px;
	padding: 20px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	top:10px;
	right:75px;
	z-index:9999;
	opacity:0.97;
	filter:alpha(opacity=97); /* For IE8 and earlier */
}

.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 0 10px 25px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -25px;
	top: 16px;
}

#info{
	display:none;
}

/*Button controls*/
#footerControls {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #555;
	padding: 0;
	margin:0;
}

#playButton{
	height:60px;
	width:20%;
	display: inline;
	position: absolute;
	left:0;
	z-index:3;
}

#pauseButton{
	height:60px;
	width:20%;
	display: inline;
	position: absolute;
	left:20%;
	z-index:3;
}

#restartButton{
	height:60px;
	width:20%;
	display: inline;
	position: absolute;
	left:40%;
	z-index:3;
}

#forwardsButton{
	height:60px;
	width:20%;
	display: inline;
	position: absolute;
	right:20%;
	z-index:3;
}

#backwardsButton{
	height:60px;
	width:20%;
	display: inline;
	position: absolute;
	right:0;
	z-index:3;
}

#gifDiv{
	position: absolute;
	bottom:60px;
	left:0;
	width:100%;
	text-align:center;
}